html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  margin: 1.5rem
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

h1 {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 0;
}

h1 span {
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 0;
}

ul a {
    color: #3783a3;
    font-size: 1.5rem;
}

img {
  display: block;
  width: 100%;
}

div {
  text-align: center;
  border-top-style: solid;
  margin-top: 1.5rem;
  border-color: #e2e2e2;
  border-bottom-style: solid;
  margin-bottom: 1.5rem;
}

div > i {
  font-size: 2.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

p {
  font-size: 1.5rem;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

article a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #3783a3;
  border-style: solid;
  border-radius: .3rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
}

/*
  padding-left: 1rem;
  padding-right: 6rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
*/
article img {
  margin-top: 1.5rem;
}
